/**
 * Common Parts
 */

.cleanfloat::after{
    display: block;
    clear: both;
    content:"";
    visibility: hidden;
    height: 0;
}

.star{
    float: left;
    height: 32px;
    width: 25px;
    margin: 0px 6px;
    fill: transparent;
    stroke-width: 2px;
    stroke: #1375b7;
    cursor:pointer;
    list-style:none;
}

.hs,.cs{
    fill:#1375b7;
}
